<div class="form-group ">
	<label for="">单位名称</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">设备类别</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">原资产编号</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">资产编号</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">资产名称</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">品牌</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">规格型号</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">数量</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">原值(元)</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">取得日期</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">存放地点</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">使用部门</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">现管理人（或使用人）</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">原资产编号</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group ">
	<label for="">使用状况</label>
	<input type="text" name="" class="form-control addEquipment" placeholder="请输入"  >
</div>

<div class="form-group pull-right">
	<input type="submit"  value="提交" class="btn btn-success">
	<input type="reset" value="重置" class="btn btn-danger">
</div>
<div style="clear:both"></div>